//////////////////////////////
// Super Simple Grid
//////////////////////////////

.column {
    float: left;
    position: relative;
    width: 33.3%;
    box-sizing: border-box;
}

.column-row{
    clear:both;
    display: inline-block;
}

.column-offset-1 {
    left: 20%;
}
.column-offset-2 {
    left: 40%;
}
.column-offset-3 {
    left: 60%;
}
.column-offset-4 {
    left: 80%;
}

.column-inset-1 {
    left: -20%;
}
.column-inset-2 {
    left: -40%;
}
.column-inset-3 {
    left: -60%;
}
.column-inset-4 {
    left: -80%;
}