//////////////////////////////
// Navigation
//////////////////////////////

@font-face {
  font-family: "responsivenav";
  src:url("../../dist/fonts/responsivenav.eot");
    src:url("../../dist/fonts/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../../dist/fonts/responsivenav.ttf") format("truetype"),
    url("../../dist/fonts/responsivenav.woff") format("woff"),
    url("../../dist/fonts/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

#logo{
  width:100%;
  height:119px;
  background:url('../../dist/images/euromoney-logo.png') center no-repeat;
  background-size:contain;
  margin: 44px auto;
  border: 0;
}

.nav-collapse {
  position: absolute;
  width: 24%;
  top: 2em;
  left: 0;
}

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

li.inline-nav-btns{
  width:50%;
  float:left;
  background:rgba(255,255,255,.1);
  border-right:1px solid #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse a {
  color: #aaa;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  transition: background .3s ease;
  text-shadow: 0 -1px rgba(0,0,0, .5);
  border-bottom: 1px solid rgba(0,0,0, .2);
  border-top: 1px solid rgba(255,255,255, .1);
  display: block;
  padding: .6em 2em;
  width: 100%;
}

.nav-collapse{
    a:hover { background: rgba(255,255,255, .1) }
    .active a { color: #fff; background: rgba(0,0,0, .3) }
    li:first-child a { border-top: 0 }
    li:last-child a { border-bottom: 0 }
}

.nav-toggle { display: none }

@media screen and (max-width: 40em) {
  #logo{ display:none; }
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }
  .nav-collapse.opened { max-height: 9999px }
  .nav-collapse a:hover { background: transparent }
  .nav-collapse .active a:hover { color: #fff; background: rgba(0,0,0, .3) }
  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 55px;
    float: right;
    display: block;
    margin: 0 1em 0 0;
  }
  .nav-toggle:before {
    color: #444; /* Edit this to change the icon color */
    font-family: "responsivenav";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 28px;
    text-transform: none;
    position: absolute;
    content: "\2261";
    text-indent: 0;
    text-align: center;
    line-height: 65px;
    speak: none;
    width: 100%;
    top: 0;
    left: 0;
  }
  .nav-toggle.active:before {
    font-size: 24px;
    content: "\78";
  }
}

@media screen and (max-width: 70.938em) {
  li.inline-nav-btns{
    width:100%;
    float:none;
  }
}

@media screen and (min-width: 76em) {
  .nav-collapse { width: 18em }
}


