//////////////////////////////
// Typography
//////////////////////////////

body{
  font: normal 100%/1.5 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3em;
  line-height: 1;
  color: #333;
  margin-bottom: .5em;
}

h2 {
  width: 100%;
  font-size: 1.5em;
  color: #222;
  margin: 1em 0 .5em;
}

p {
  width: 100%;
  margin-bottom: 2em;
  line-height:1.7em;
  font-size: 1.1em;
  color:$c-main-text;
  padding:0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

p.intro {
  font-size: 1.25em;
  color: $c-dark-blue;
  font-weight: 300;
}

// Custom List Item Styles
// use Before to inject content
// to replace the standard li style

.fancyLi{

      margin-bottom:20px;
      padding: 0 40px;

      li {
        list-style: none;
        line-height:1.8em;
        padding-left: 2em; // Used to ensure we have text indentation if text splits onto two lines
        text-indent: -2em; // remove text indent and use padding instead
        }
    
    li:before {
        content: "·";
        font-size: 85px;
        font-family: georgia;
        vertical-align: top;
        line-height: 20px;
        color: $c-bullet-blue;
        padding-right: 10px;
    }
}

blockquote{
  display:block;
  padding: 15px 20px 15px 45px;
  margin: 40px 0 40px;
  position: relative;
  font-size: 2em;
  line-height: 1.5em;
  color:$c-light-blue;

    // massive left quote mark

    ::before{
      content: "\201C"; /*Unicode for Left Double Quote*/
      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: #999;
      position: absolute;
      left: 10px;
      top: 5px;
      color: #dcdcdc;
    }

    // massive right quote

    .quote-r::after{
      font-family: Georgia, serif;
      content: "\201D"; /*Unicode for Right Double Quote*/
      bottom: -10px;
      margin-left: 10px;
      position: absolute;
      font-size: 60px;
      font-weight: bold;
      color:#dcdcdc;
    }

}


a {
  color: #f4f4f4;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

@media screen and (max-width: 40em) {

  p{
    padding:0;
  }

  .fancyLi{
    padding:0;
  }

}
