//////////////////////////////
// Variables
//////////////////////////////

// Breakpoints
$breakpoints: ();

// Default Colours

$c-white		:#fff;
$c-black		:#000;

// main p text colour

$c-main-text	:#323232;

// Intro article text colour

$c-dark-blue	:#2e3e56;

// Circle bullet points

$c-bullet-blue	:#39b3ee;

// Promo story box

$c-promo-grey	:#f5f5f5;

// blockquote colours

$c-quote-marks  :#dcdcdc;
$c-light-blue	:#007bb6;

// Z-indexes
$z-indexes: (
  'default': 'auto'
);
