//////////////////////////////
// Main Content Container  Wrapper
// along with the article styles
//////////////////////////////

// Things i'd change given time
// Clean this file up to extract all typography and
// add to the _typography.scss file
// re-work the header image so it scales better
// across all viewport sizes
// extract media queries and tidy them up


.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  border-top-left-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0, .6);
  top: .8em;
  right: 0;
  bottom: 0;
  width: 76%;
  background: #fffafa;

  h2{
    padding: 0 40px;
  }

  .main-wrap{
    background: rgb(243,240,240);
    background: -moz-linear-gradient(top, rgba(243,240,240,1) 0%, rgba(255,250,250,1) 34%);
    background: -webkit-linear-gradient(top, rgba(243,240,240,1) 0%,rgba(255,250,250,1) 34%);
    background: linear-gradient(to bottom, rgba(243,240,240,1) 0%,rgba(255,250,250,1) 34%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f0f0', endColorstr='#fffafa',GradientType=0 );
    padding: 3em 4em;
    margin: 460px 50px;
    height: 100%;
    max-width:1000px;
    position: relative;
    display:inline-block;

      .byline{
          position:absolute;
          top:0;
          left:0;
          display:inline-flex;
          background: $c-white;
          padding:3px 20px;

          address{
              display:inline;
              margin-right:3px;

              a{color:#333}

            }

          time{
            margin-left:3px;
          }

        } // .byline

  } // .main-wrap

} // .main

.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(0,0,0, .15);
  width: 8px;
  height: 8px;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0,0,0, .4);
}

.inner-wrap{
  padding: 2em 4em;
  margin: 0px 50px;
  height: 100%;
  position: relative;
  display:block;
  max-width:1000px;
}

// Promo Story Box

.promo-story{
  background:$c-promo-grey;
  float: left;
  width: 205px;
  padding: 10px;
  margin: 0 40px 20px 0;

  // extract this to typo file

  h3{
    font-weight:700;
    text-align: center;
    margin-bottom: 9px;
    text-transform: uppercase;
  }

  p{
    font-size:0.8em;
    margin: 5px;
    font-weight:300;
    padding:0;
  }

  a{
    color:#333
  }

}


.article-image-wrap{
  margin:0 auto;
  display:block;
}

.article-image{

    display:block;
    margin:0 auto;
    text-align:center;
  
    p{
      margin:5px 0 40px;
      font-size:0.8em;
    }
}

// Media Queries For Main Container

@media screen and (max-width: 40em) {
  .main {
    -webkit-overflow-scrolling: auto;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    width: 100%;
    overflow: hidden;

    .main-wrap{
      padding:3em 2em;
      margin:460px 0 0 0;
      position:relative;
    }

      h2{ padding:0 }

  }
  .main::-webkit-scrollbar { background-color: transparent }

  .promo-story{  
    float:none; 
    margin: 40px auto;
    display: block;
  }

  // only used for related stories
  // so far...

  .inner-wrap {
    padding: 2em 0;
    margin: 10px 20px;
  }

}

@media screen and (min-width: 76em) {
  .main {
    width:auto;
    left: 18em;
  }

}