//////////////////////////////
// Article Header
//////////////////////////////

// container header image

#article-header{
  height:600px;
  width:100%;
  max-width:1200px;
  clip: rect(0, auto, auto, 0);
  background:url('../../dist/images/header-image.jpg') center bottom fixed no-repeat;
  background-size:cover;
  opacity:1;
  position:absolute;
  top:0;
  left:0;

  // extract this to typo file

  h1{
    max-width:60%;
    margin:200px 47px 0 47px;
    font-size:4em;
    font-weight:700;
    line-height:1.2em;
    color:$c-white;
    text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.45);
  }

  #category{
    background:$c-white;
    position:absolute;
    top:55px;
    text-transform:uppercase;
    font-size:1.3em;
    padding:4px 20px 4px 50px;
  }

  // little skew to angle
  // the right hand corner
  // of the category / page
  // description

  #category:after {
    content: '';
    background-color:$c-white;
    position: absolute;
    top: 0;
    overflow: visible;
    width: 11px;
    height: 39px;
    right: -4px;
    z-index: 0;
    -webkit-transform: skew(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -o-transform: skewY(-10deg);
    -webkit-backface-visibility: hidden;
  }

}

// mobile devices make this better!

@media screen and (max-width: 40em) {

  #article-header{

      // quick fix could do better!
      background:url('../../dist/images/header-image.jpg') center top fixed no-repeat;
      background-size:200%;

    h1{
      font-size:3em;
      text-align:center;
      margin:200px 40px 0 40px;
      max-width:100%;
    }

  }

}