//////////////////////////////
// Related Stories
//////////////////////////////

.related-stories{
	background:#f5f5f5;
	margin:40px 0 0;
	display:block;

	h2{
		text-transform:uppercase;
		font-weight:700;
		font-size:1.3em;
		margin-bottom:10px;
	}

	.column-row{
		width:100%;
		padding:0 0 0 40px;
	}

	.inner p{
		padding: 0;
		max-width:200px;
		font-size:0.89em
	}

	.inner img{
		display:block;
		margin-bottom:15px;
	}

}


@media screen and (max-width: 40em) {

	.related-stories{
		.column-row{
			padding: 0;
		}
		.inner{
	    	margin-right: 3px;
	    }
	}
}

