@charset "UTF-8";
.fadeIn {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font: normal 100%/1.5 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3em;
  line-height: 1;
  color: #333;
  margin-bottom: .5em;
}

h2 {
  width: 100%;
  font-size: 1.5em;
  color: #222;
  margin: 1em 0 .5em;
}

p {
  width: 100%;
  margin-bottom: 2em;
  line-height: 1.7em;
  font-size: 1.1em;
  color: #323232;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p.intro {
  font-size: 1.25em;
  color: #2e3e56;
  font-weight: 300;
}

.fancyLi {
  margin-bottom: 20px;
  padding: 0 40px;
}
.fancyLi li {
  list-style: none;
  line-height: 1.8em;
  padding-left: 2em;
  text-indent: -2em;
}
.fancyLi li:before {
  content: "·";
  font-size: 85px;
  font-family: georgia;
  vertical-align: top;
  line-height: 20px;
  color: #39b3ee;
  padding-right: 10px;
}

blockquote {
  display: block;
  padding: 15px 20px 15px 45px;
  margin: 40px 0 40px;
  position: relative;
  font-size: 2em;
  line-height: 1.5em;
  color: #007bb6;
}
blockquote ::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top: 5px;
  color: #dcdcdc;
}
blockquote .quote-r::after {
  font-family: Georgia, serif;
  content: "\201D";
  /*Unicode for Right Double Quote*/
  bottom: -10px;
  margin-left: 10px;
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: #dcdcdc;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

@media screen and (max-width: 40em) {
  p {
    padding: 0;
  }

  .fancyLi {
    padding: 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html, body {
  min-height: 100%;
}

body {
  min-width: 290px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #444;
  color: #666;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  body {
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    -o-background-size: 200px 200px;
    background-size: 200px 200px;
  }
}
.img-responsive {
  max-width: 100%;
  height: auto;
}

.column {
  float: left;
  position: relative;
  width: 33.3%;
  box-sizing: border-box;
}

.column-row {
  clear: both;
  display: inline-block;
}

.column-offset-1 {
  left: 20%;
}

.column-offset-2 {
  left: 40%;
}

.column-offset-3 {
  left: 60%;
}

.column-offset-4 {
  left: 80%;
}

.column-inset-1 {
  left: -20%;
}

.column-inset-2 {
  left: -40%;
}

.column-inset-3 {
  left: -60%;
}

.column-inset-4 {
  left: -80%;
}

@font-face {
  font-family: "responsivenav";
  src: url("../../dist/fonts/responsivenav.eot");
  src: url("../../dist/fonts/responsivenav.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/responsivenav.ttf") format("truetype"), url("../../dist/fonts/responsivenav.woff") format("woff"), url("../../dist/fonts/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}
#logo {
  width: 100%;
  height: 119px;
  background: url("../../dist/images/euromoney-logo.png") center no-repeat;
  background-size: contain;
  margin: 44px auto;
  border: 0;
}

.nav-collapse {
  position: absolute;
  width: 24%;
  top: 2em;
  left: 0;
}

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

li.inline-nav-btns {
  width: 50%;
  float: left;
  background: rgba(255, 255, 255, 0.1);
  border-right: 1px solid #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse a {
  color: #aaa;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  transition: background .3s ease;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: .6em 2em;
  width: 100%;
}

.nav-collapse a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.nav-collapse .active a {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
.nav-collapse li:first-child a {
  border-top: 0;
}
.nav-collapse li:last-child a {
  border-bottom: 0;
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 40em) {
  #logo {
    display: none;
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }

  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }

  .nav-collapse.opened {
    max-height: 9999px;
  }

  .nav-collapse a:hover {
    background: transparent;
  }

  .nav-collapse .active a:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }

  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 55px;
    float: right;
    display: block;
    margin: 0 1em 0 0;
  }

  .nav-toggle:before {
    color: #444;
    /* Edit this to change the icon color */
    font-family: "responsivenav";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 28px;
    text-transform: none;
    position: absolute;
    content: "\2261";
    text-indent: 0;
    text-align: center;
    line-height: 65px;
    speak: none;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav-toggle.active:before {
    font-size: 24px;
    content: "\78";
  }
}
@media screen and (max-width: 70.938em) {
  li.inline-nav-btns {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 76em) {
  .nav-collapse {
    width: 18em;
  }
}
#article-header {
  height: 600px;
  width: 100%;
  max-width: 1200px;
  clip: rect(0, auto, auto, 0);
  background: url("../../dist/images/header-image.jpg") center bottom fixed no-repeat;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
#article-header h1 {
  max-width: 60%;
  margin: 200px 47px 0 47px;
  font-size: 4em;
  font-weight: 700;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.45);
}
#article-header #category {
  background: #fff;
  position: absolute;
  top: 55px;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 4px 20px 4px 50px;
}
#article-header #category:after {
  content: '';
  background-color: #fff;
  position: absolute;
  top: 0;
  overflow: visible;
  width: 11px;
  height: 39px;
  right: -4px;
  z-index: 0;
  -webkit-transform: skew(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 40em) {
  #article-header {
    background: url("../../dist/images/header-image.jpg") center top fixed no-repeat;
    background-size: 200%;
  }
  #article-header h1 {
    font-size: 3em;
    text-align: center;
    margin: 200px 40px 0 40px;
    max-width: 100%;
  }
}
.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  border-top-left-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  top: .8em;
  right: 0;
  bottom: 0;
  width: 76%;
  background: #fffafa;
}
.main h2 {
  padding: 0 40px;
}
.main .main-wrap {
  background: #f3f0f0;
  background: -moz-linear-gradient(top, #f3f0f0 0%, snow 34%);
  background: -webkit-linear-gradient(top, #f3f0f0 0%, snow 34%);
  background: linear-gradient(to bottom, #f3f0f0 0%, snow 34%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f0f0', endColorstr='#fffafa',GradientType=0 );
  padding: 3em 4em;
  margin: 460px 50px;
  height: 100%;
  max-width: 1000px;
  position: relative;
  display: inline-block;
}
.main .main-wrap .byline {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  background: #fff;
  padding: 3px 20px;
}
.main .main-wrap .byline address {
  display: inline;
  margin-right: 3px;
}
.main .main-wrap .byline address a {
  color: #333;
}
.main .main-wrap .byline time {
  margin-left: 3px;
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.15);
  width: 8px;
  height: 8px;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.inner-wrap {
  padding: 2em 4em;
  margin: 0px 50px;
  height: 100%;
  position: relative;
  display: block;
  max-width: 1000px;
}

.promo-story {
  background: #f5f5f5;
  float: left;
  width: 205px;
  padding: 10px;
  margin: 0 40px 20px 0;
}
.promo-story h3 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 9px;
  text-transform: uppercase;
}
.promo-story p {
  font-size: 0.8em;
  margin: 5px;
  font-weight: 300;
  padding: 0;
}
.promo-story a {
  color: #333;
}

.article-image-wrap {
  margin: 0 auto;
  display: block;
}

.article-image {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.article-image p {
  margin: 5px 0 40px;
  font-size: 0.8em;
}

@media screen and (max-width: 40em) {
  .main {
    -webkit-overflow-scrolling: auto;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .main .main-wrap {
    padding: 3em 2em;
    margin: 460px 0 0 0;
    position: relative;
  }
  .main h2 {
    padding: 0;
  }

  .main::-webkit-scrollbar {
    background-color: transparent;
  }

  .promo-story {
    float: none;
    margin: 40px auto;
    display: block;
  }

  .inner-wrap {
    padding: 2em 0;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 76em) {
  .main {
    width: auto;
    left: 18em;
  }
}
.related-stories {
  background: #f5f5f5;
  margin: 40px 0 0;
  display: block;
}
.related-stories h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.related-stories .column-row {
  width: 100%;
  padding: 0 0 0 40px;
}
.related-stories .inner p {
  padding: 0;
  max-width: 200px;
  font-size: 0.89em;
}
.related-stories .inner img {
  display: block;
  margin-bottom: 15px;
}

@media screen and (max-width: 40em) {
  .related-stories .column-row {
    padding: 0;
  }
  .related-stories .inner {
    margin-right: 3px;
  }
}
.legal {
  font-size: 0.7em !important;
  background: #eaeaea;
  padding: 20px 0;
}

/*# sourceMappingURL=application.css.map */
